[submodule "translations/en"]
	path = translations/en
	url = https://x-access-token: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@github.com/cephalofair/rules-lang-en.git
